/* TODO LO QUE ES MENU */
.cabecera {
    width: 100%;

    .navbar {
        display: flex;
        .container-fluid{
            .img-logo{
                width: 100px !important;
            }
            .navbar-collapse{
                ul{
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                }
            }

        }



    }

}